# IntelliJ IDEA
*.iml
.idea/
*.iws
*.ipr
*.ids

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/tmp/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Database
*.db
*.mv.db
data/